*{
    margin: 0px;
    border: 0px;
    font-family: font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.baner{
    background-image: url("../images/banner/banner3.png");
    background-size: cover;
    background-repeat: no-repeat;
    
    text-align: right;
    width: 1600px;
        height: 808px;
        left: -36px;
        top: 0px;
    
    
    
}
.baner-title{
    font-weight: 700;
        font-size: 65px;
    
    

}


.contact-us{
    
    margin-top: 32px;
    margin-bottom: 166px;
    background-color: white;
    padding: 10px 10px;
    border-radius: 2px;
   
}
.my-details{
    display: flex;
  
    padding: 200px 200px 200px 200px;
    width: 1054px;
        height: 723.3px;
        left: 206px;
        top: 939px;
    
    
}
.my-failure{
    
    
}
.my-failure-details{
    
}
.my-failure-list{
    
}

.my-plans-title{
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
.my-plans{
    display: flex;
    gap: 60px;
    justify-content: center;
    padding: 20px 20px 20px 230px;
    
    
    text-align: center;
   
    width: 1114px;
        height: 202.96px;
        left: 230px;
        top: 1889px;
    
}


.call-now{
    
    background-image: url("../images/watch.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 200px 200px 200px 200px;
    width: 1140px;
        height: 300px;
        left: 230px;
        top: 2221.96px;

    
    

}
.call-now-button{
    
    background-color: white;
    color: blue;
    border-radius: 5px;
}
.footer{
    
    display: flex;
   
    background: #151414;
    width: 1600px;
        height: 577px;
        left: 0px;
        top: 2651.96px;
    
    
    
}
.future{
    color: white;
    padding: 130px 307px 130px 230px;
    font-weight: 400;
        font-size: 16px;
    
}
.subscribe{
    padding: 130px 253px 243px 307px ;
}