*{
    margin: 0px;
    padding: 0px;;
    font-family: font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.items{
    display: flex;
    list-style: none;
    justify-content: left;
    gap: 60px;
    background-color: rgb(11, 11, 11);
    background-image: linear-gradient(to bottom, rgba(82, 106, 243, 0.52), rgba(138, 240, 5, 0.73));
    color: white;
}
.item{
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
    margin-left: 15px;
}

.baner-container{
    display: flex;
    text-align: right;
}

.baner{
    width: 100%;
    height: 808px;
    background-image: url("../images/banner/banner3.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 216px;
    padding-right: 216px;
    padding-left: 864px;
}
.baner-title{
    font-weight: 700;
    font-size: 65px;
    
}
.baner-details{
    font-weight: 400;
    font-size: 24px;
    padding-left: 894px;
    margin-top: 20px;
}
.contact-us{
    font-size: 24px;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 166px;
    background-color: white;
    padding: 10px 10px;
    border-radius: 2px;
}
/* My Failures  */
.my-failures-container{
    display: flex;
    gap: 90px;
    max-width: 1054px;
    margin: 200px auto;
}
.my-failure{
    margin-top: 200px;
}


.my-failure-title{
    font-weight: 700;
    font-size: 50px;
}
.my-failure-details{
    font-weight: 400;
    font-size: 16px;
    margin-top: 26px;
    font-size: 26px;
}
.my-failure-list{
    font-weight: 400;
    font-size: 24px;
    margin-top: 24px;
    list-style: square;
}

/*  My plans  */

.my-plans-container{
    max-width: 1114px;
    margin: 0px auto;
    height: 202.96px;
    margin-bottom: 100px;

}

.my-plans-title{
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
.my-plans{
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

/*  Watch banner */
.watch-baner-container{
    
    background-image: url("../images/gradient1.png"), url("../images/watch.png");
    background-blend-mode: normal;
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    margin-left: 850px;

}
.watch-baner-title{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 60px;
    padding-left: 64px;
   
}
.call-now-button{
    margin-left: 64px;
    margin-top: 24px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}

/* Footer  */

.footer-container{
    display: flex;
    gap: 300px;
    width: 100%;
    height: 0px auto;
    height: 577px;
    margin-top: 150px;
    background-color: black;
    color: white;
}

.future {
    font-weight: 400;
    font-size: 16px;
    width: 485px;
    margin-left: 200px;

}
.future-title{
    font-weight: 700;
    font-size: 45px;
    margin-top: 150px;
    margin-bottom: 16px;
}
.future-description{
    margin-bottom: 15px;
}

.subscribe{
    text-align: right;
    margin-top: 130px;
    margin-left: 1022px;
    font-size: 30px;
}
.sub{
    margin-bottom: 15px;

}
.btn{
    margin-top: 15px;
    background-color: #005FAC;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;

}


