*{
    margin: 0px;
    border: 0px;
    font-family: font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.baner{
    background-image: url("../images/banner/banner3.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.baner-text{
    color: #FFFFFF;
    font-family: font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 216px 364px 212px 860px;
    text-align: right;
}
.baner-details{
   
    
}
.baner-button{
    margin-top: 32px;
    background-color: white;
    padding: 10px 10px;
    border-radius: 2px;
}
.my-details{
    
    color: #151414;
    width: 1000px;
    height: 720px;
    
    display: flex;
}
.my-failure{
    
    width: 416px;
    height: 400px;
    left: 844px;
    top: 1178px;
}
.my-failure-details{
    padding-top: 24px;
}
.my-failure-list{
    list-style:georgian ;
    padding-top: 16px;
}
.section-2{
    
    
}
.title{
    text-align: center;
    font-size: 34px;
    

}
.my-plans{
    display: flex;
    gap: 77px;
    justify-content: center;
    
   
}
.my-plan-title{
    font-size: 26px;
    font-weight: bold;
}

.call-now{
    
    background-image: url("../images/watch.png");
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 216px 364px 212px 860px;

}
.call-now-button{
    
    background-color: white;
    color: blue;
    border-radius: 5px;
}
.footer{
    
    display: flex;
    gap: 307px;
    background: #151414;
    padding: 216px 364px 212px 860px;
    
    
}
.future{
    color: white;
    
}